@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-family: "Education-Bold";
  src: url("./fonts/Education-Bold.ttf");
}

@font-face {
  font-family: "Education-light";
  src: url("./fonts/Education-Light.ttf");
}

body {
  margin: 0;
  font-family: "OpenSans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}
