.MuiPickersToolbar-root.MuiPickersLayout-toolbar.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  display: none;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  display: none;
}

.css-4jnixx-MuiStack-root {
  padding-top: 0 !important;
  padding-bottom: 10px !important;
}

.disabled-datepicker {
  background-color: #f0f0f0; 
  pointer-events: none; 
}

.disabled-checkbox:checked {
  background-color: #E03C31;
}

.disabled-checkbox {
  background-color: #E03C31;
  pointer-events: none;
}

.disabled-div {
  color: #929292;
  font-weight: 600;
}

.swal2-confirm.swal2-styled {
  background-color: #e74c3c; 
  width: 100px;
  /* height: 20px; */
  
}